* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    background: radial-gradient(circle, #FFF, #CCC);
    background: -webkit-radial-gradient(circle, #FFF, #CCC);
    background: -moz-radial-gradient(circle, #FFF, #CCC);
    background: -o-radial-gradient(circle, #FFF, #CCC);
    font-family: cursive, sans-serif;
    user-select: none;
}

.text-center {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    margin-top: 2rem;
}

#myCanvas {
    border: 1px solid #d3d3d3;
    position: absolute;
    left: 100px;
    top: 110px;
    display: none;
}

#levelSelect {
    background: linear-gradient(#000328, #082055);
    color: #FFF;
    padding: 1.5rem;
    width: 400px;
    height: 300px;
    margin: 70px auto 30px;
}

.buttons {
    margin: 4rem;
}

#levelSelect p {
    font-size: 1.5rem;
    margin: 2rem;
}

.btn {
    padding: 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #6daff7;
}

.btn:hover {
    background: #9fccfa;
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#lives {
    background: linear-gradient(#000328, #082055);
    color: #FFF;
    padding: 1.5rem;
    width: 200px;
    position: absolute;
    top: 20px;
    right: 50px;
}

#start {
    margin: 1rem;
}

#keyboard {
    position: absolute;
    bottom: 30px;
}

#keyboard button {
    margin: .5rem .75rem;
}

#guess p {
    display: inline-block;
    font-size: 2.5rem;
    position: absolute;
    right: 150px;
    top: 225px;
}

#refresh {
    margin: 1rem;
}
